body{
    background-color:rgb(129, 17, 28);
   }
   #profile-wrapper{
       text-align: center;
   }
   #profile-pic{
       width: 150px;
       height: 150;
       border-radius: 50%;
       margin-left: auto;
       margin-right: auto;
   }